<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p class="form-title">You're about to join @invite.group_name, to confirm please to connect with twitter </p>
    <a class="btn btn-block btn-social btn-twitter" href="auth/twitter">
      <i class="fa fa-twitter"></i>
      Sign in with Twitter
    </a>
  </div>
</div>