<p class="form-title"> Add links from a Twitter user to your daily digest </p>
<%= custom_source_form(custom_source) %>
<%= render 'layouts/errors', object: custom_source %>

<div class="field form-group">
  <label for="name">Twitter username</label>
  <%= text_field_tag :username, custom_source.extra["username"], placeholder: "@username", class: 'form-control' %>
</div>

<%= submit_tag "Validate", class: "btn btn-success" %>

