<div class="panel panel-default">
  <div class="panel-body">
    <h4>Invite someone :</h4>
    <%= form_tag(group_invites_path(@group)) do %>
      <div class="form-group">
        <%= text_field_tag :emails, nil, class: "form-control", placeholder: "emails separated by ;" %>
      </div>
      <%= submit_tag "Invite", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>