<div class="panel panel-default">
  <div class="panel-body">
    <h4>Members :</h4>
    <ul class="list-inline">
    <% @group.groups_users.each do |groups_user| %>
      <li>
       <a href="http://twitter.com/<%= groups_user.user.nickname %>" target="_blank"><img class="avatar img-circle" src="<%= groups_user.user.avatar %>" alt="<%= groups_user.user.name %>" /></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>