<div class="panel panel-default">
  <div class="panel-body">
    <h4>Share a link :</h4>
    <%= form_tag("/groups/" + @group.id.to_s + "/links", method: "post") do %>
      <div class="form-group">
        <input id="url" name="link[url]" class="form-control" type="text" placeholder="Url" />
      </div>
      <div class="form-group">
        <input id="title" name="link[title]" class="form-control" type="text" placeholder="Title" />
      </div>
      <button type="submit" class="btn btn-primary">Share</button>
    <% end %>
  </div>
</div>