---
http_interactions:
- request:
    method: post
    uri: https://getpocket.com/v3/oauth/request
    body:
      encoding: UTF-8
      string: '{"consumer_key":"42969-3e12ce27004432628a0bff68","redirect_uri":"http://localhost:5000/pocket/authorize"}'
    headers:
      Content-Type:
      - application/json
      X-Accept:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Source:
      - Pocket
    body:
      encoding: UTF-8
      string: '{"code":"0f0001c4-8c3a-2d74-6f66-eec454","state":null}'
  recorded_at: Wed, 01 Jul 2015 08:36:44 GMT
recorded_with: VCR 2.9.3
