<%= javascript_tag do %>
  $().ready(function(){
    console.log("ready");
    if (browserIsChrome) {
      checkChromeExtension(function(installed){
        if(!installed)
        {
          $("#main-container").prepend('<div id="extension-banner" class="alert alert-warning" role="alert"><p>Looks like you are using Google Chrome!</p><p>Make sure to get the <a href="'+extension_link+'" target="_blank">Chrome Extension here</a> to post Links as fast as you can!</p></div>')
        }
      });
    };
  });
<% end %>