<% if object.errors.any? %>
  <div class="alert alert-danger">
    <a class="close" data-dismiss="alert">&#215;</a>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <%= content_tag :li, msg, :id => "error_#{msg}" %>
      <% end %>
    </ul>
  </div>
<% end %>