<footer class="footer row-fluid">
  <div class="col-md-12">
    <p>Crafted with <i class="fa fa-heart fa-1"></i> by :</p>
    <ul>
      <li><%= link_to "vdaubry", "https://github.com/vdaubry" %></li>
      <li><%= link_to "tibo", "https://github.com/tibo" %></li>
    </ul>
  </div>
</footer>