<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "layouts/include" %>
  </head>
  <body>

    <div class="container">
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> <%= flash[:alert].html_safe %>
        </div>
      <% end %>
      
      <% if flash[:info] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:info] %>
        </div>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
